/*----Universal Styling----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}


header,
footer,
h1,
h2 {
  font-family: battleslab, sans-serif;
}

header,
footer {
  background: #cccccc;
  color: #5e2d2d;
  width: 100%;
  height: 120px

}

body {
  background: #C1BFC6;
}

p {
  font-family: courier-std, monospace;
}

/*----Home Page Styling----*/
.title {
  height: 800px;
}
.title-image img {
  position:relative;
  min-width: 400px;
  height: 800px;
  

}

/*----Fine-Art Page Styling----*/
.gallery img {
  width: 295px;
}
